:root {
    --main-bg-color: rgb(235, 232, 217);
    --font-color: rgb(32, 36, 68);
    --background-blue-accent: rgba(84, 173, 214, .25);
    --background-red-accent: rgba(214, 84, 84, .25);
    scroll-behavior: smooth;
}

.allcss a {
    text-decoration-thickness: 1px;
}

.allcss a:link {
    color: inherit
}

.allcss a:active {
    color: inherit
}

.allcss a:visited {
    color: inherit
}

.allcss a:hover {
    color: inherit
}

.allcss {
    font-size: 1.25rem;
    font-family: 'Crimson Pro', serif;
    color: var(--font-color);
    background-color: var(--main-bg-color);
}

.allcss h1 {
    font-size: 5rem;
    text-align: center;
    font-family: 'Crimson Pro', serif;
}

.allcss #container {
    margin: auto;
    max-width: 700px;
    width: 95%;
    min-width: 300px;
}

.allcss p {
    margin-top: 5px;
    margin-bottom: 5px;
    line-height: 1.7rem;
}

.allcss h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 10px;
    font-style: italic;
}

.allcss .divider::after {
    content: '';
    width: 80%;
    height: 20px;
    position: absolute;
    top: 30px;
    z-index: -10;
    left: 50%;
    transform: translateX(-50%);
}

.allcss .red::after {
    background-color: var(--background-red-accent);
}

.allcss .blue::after {
    background-color: var(--background-blue-accent);
}

.allcss .divider {
    margin-top: 0px;
    margin-bottom: 40px;
    position: relative;
}

.allcss li {
    line-height: 1.5rem;
    margin-bottom: 3px;
}

.allcss ul {
    margin-top: 5px;
}

.allcss code {
    font-size: 1rem;
}

.allcss footer {
    text-align: center;
    font-size: 1rem;
    margin-bottom: 20px;
}

.allcss abbr {
    text-decoration-thickness: 2px;
    text-underline-offset: 3px;
}

.allcss #trefoil {
    position: relative;
    width: 60%;
    display: block;
    margin: 15px auto;
    z-index: -50;
}

.allcss .centerdiv {
    text-align: center;
    position: relative;
}

#csstoggle {
    position: fixed;
    right: 10px;
    bottom: 10px;
    border: none;
    background: none;
    z-index: 500;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.allcss #csstoggle {
    opacity: 80%;
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.allcss #csstoggle:hover {
    cursor: pointer;
    opacity: 100%;
}

#csstoggle img {
    width: 60px;
}